<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>News Website</title>
  </head>
  <body>
  
<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NEWS WebSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <!-- Category -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="/category/general" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/category/general">General</a></li>
            <li><a class="dropdown-item" href="/category/business">Business</a></li>
            <li><a class="dropdown-item" href="/category/entertainment">Entertainment</a></li>
            <li><a class="dropdown-item" href="/category/sports">Sports</a></li>
            <li><a class="dropdown-item" href="/category/health">Health</a></li>
            <li><a class="dropdown-item" href="/category/technology">Technology</a></li>
            <li><a class="dropdown-item" href="/category/science">Science</a></li>
          </ul>
        </li>
           <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="/country/in" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            List of Countries
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/country/us">USA</a></li>
            <li><a class="dropdown-item" href="/country/rs">Russia</a></li>
            <li><a class="dropdown-item" href="/country/ch">China</a></li>
            <li><a class="dropdown-item" href="/country/au">Australia</a></li>
            <li><a class="dropdown-item" href="/country/nz">New Zealand</a></li>
            <li><a class="dropdown-item" href="/country/jp">Japan</a></li>
            <li><a class="dropdown-item" href="/country/fr">France</a></li>
            <li><a class="dropdown-item" href="/country/uk">UK</a></li>
            <li><a class="dropdown-item" href="/country/ua">UAE</a></li>
            <li><a class="dropdown-item" href="/country/gr">Germany</a></li>
            <li><a class="dropdown-item" href="/country/cn">Canada</a></li>
            <li><a class="dropdown-item" href="/country/th">Thailand</a></li>
            <li><a class="dropdown-item" href="/country/it">Italy</a></li>
            <li><a class="dropdown-item" href="/country/no">Norway</a></li>
            <li><a class="dropdown-item" href="/country/hk">Hong Kong</a></li>
          </ul>
        </li>
        
      
      </ul>

      <!-- Form -->

      <form method="get" action="{% url 'search' %}" class="d-flex" name="search">
        <input class="form-control me-2 border-color primary" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  <h1 class="alert alert-warning text-center py-1 fs-4">The News of This Country is Hear</h1> 
<div class="container">
    <div class="row">
        {% for i in articles %}
        <div class="col-sm mt-2 mb-5">
            
            <div class="card" style="width: 18rem;">
                <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <p class="card-text">{{ i.description }}</p>
                  <a href="{{ i.url }}"  target="_blank" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            
        </div>
        {% endfor %}
   </div>
</div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>